body {
  background-color: #fff;
  justify-content: center;
}

.login-forms {
  text-align: center;
  width: 60%;
  margin: auto;
}

.field {
  width: 100%;
  margin-bottom: 2rem;
}

input {
  width: 100%;
}

.shared-links{
  height: 10%;
  margin-top: auto;
}
